.table {
  width: 100%;
  height: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableName {
  width: 100%;
  height: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}

table th, td {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
  
  
}

.lowAmount {
  background-color: #FFDDBD;
}
table th {
  position: static;
  width: 300px;
  height: 34.01px;
  left: 30px;
  top: 0px;
}
